<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".DreamboxApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Dreambox">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.Dreambox">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Widget 配置界面 -->
        <activity
            android:name=".widget.WidgetConfigureActivity"
            android:exported="true"
            android:theme="@style/Theme.Dreambox"
            android:label="@string/config_title">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <!-- GitHub 贡献热力图 Widget -->
        <receiver
            android:name=".widget.GithubWidgetProvider"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/github_widget_info" />
        </receiver>

    </application>

</manifest>
